
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    font-family: 'Lora', serif;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}


.wrapper{
    width: 960px;
    margin:0 auto;
    font-family: 'Lato', sans-serif;
}
.left{
    float:left;
}
.right{
    float:right;
}
.clear{
    clear: both;
    overflow: hidden;
    height: 0 !important;
    wight: 0 !important;
}
a{
    text-decoration: none;
}
.top a:visited{

    color: #ffffff;

}
.middle a:visited{

    color: #000000;

}
.top a:visited{

    color: #ffffff;

}


.header .top{
    background: #000000;
    padding: 30px 20px;

}
.header .top li{
    float:left;
    margin-right: 15px;
    color:#ffffff;
    font-size: 15px;
    font-weight: bold;
    text-transform: uppercase;

}

.middle{
    width: 960px;
    margin: 0 auto;
    border-bottom: 1px solid #000000;
}
.first-middle{
    position:relative;
    width: 960px;
    height: 94px;
    margin:0 auto;

}
.fin1{
    height: 90px;
    float: left;
    width: 25%;
}
.block{
    position: absolute;
    z-index: 3;
    display: none;
    background: url("images/langback.png") ;
}
.block1{
    position: absolute;
    border: 1px solid rgba(171, 165, 165, 0.34);
    margin-top: -14px;
    z-index:  -1;
    margin-left: -5px;
    padding: 10px;
    width: 360px;
    background: white;
}

.lb-content p .shop {float: right; background: #f8f8f8
}
.fin1 p {
    font-size: 14px;
    margin-top: 35px;

}
.fin2{

    width: 50%;
    height: 90px;
    float: left;
    text-align: center;
    margin: 10px auto;

}.left-menu li{
     display: list-item;
 }
.fin3{

    float: right;
    width: 25%;
    text-align: right;
}

.block2{
    z-index: 1;
    float: right;
    margin-top: 15px;
    position: relative;
    display: none;
}
.block2 img{
    margin-top: -12px;
    margin-left: 285px;
}
.block3{
    position: absolute;
    border: 1px solid rgba(171, 165, 165, 0.34);
    margin-top: -14px;
    z-index:  -1;
    margin-left: -5px;
    padding: 10px;
    width: 360px;
    background: white;
    text-align: left;

}
.block3 img{
    float: left;
    margin-left: 10px;
    padding: 2px;
}
.tabletd{
    float: left;
    padding-left: 25px;
    width: 150px;
    margin-bottom: 10px;
}
.tabletd1{
    float: left;
    padding-left: 25px;
    width: 85px;
}
.tablename{
    font-weight: bold;
}
.oldprice{
    text-decoration: line-through;
    float: left;
}
.newprice{
    font-weight: bold;
    color: red;
    float:right;
    margin-left: 10px;
}
.button1{
    background: #000000;
    color: white;
    height: 30px;
    text-align: center;
    padding-top: 10px;
}
.middle-list li{
    padding-top: 0px !important;
    width: 875px;
    padding-left: 10px;
}
ul.list li { position: relative; }

ul.middle-list {
    position: absolute;
    display: none;
    margin-top: 10px;
    background: white;
    z-index: 2;
}
.man-picture1{
    float: right !important;
    margin-left: 150px !important;
    position: absolute !important;
}
.man-picture2{
    float: right !important;
    margin-left: 514px;
    position: absolute !important;
}





.second-middle{
    text-align: center;
    height: 50px;
}

.second-middle ul{
    float: left;
    margin-left: 130px;

}
.second-middle ul li{
    margin: 0 5px;
    float: left;
}

.second-middle ul li a {
    text-align: center;
    font-size: 14px;
    text-decoration: none;
    text-transform: uppercase;
    color: #808080;
}



.content{
    height: 569px;
    width: 880px;
    margin-left: 90px;

}
.content1{
    height: 736px;
    width: 880px;
    margin-left: 90px;

}
.content1 li{
    float: left;
    text-align: center;
    margin: 0 0 10px 0;
    padding: 0 20px 0 0;
height: 227px;


}

.footer-container{
    background: #000000;
    height: 680px;

}
.footer{

    width: 960px;
    margin: 0 auto;
}
.first-footer{
    padding-top: 60px;
    text-align: center;
}
.first-footer ul{
    list-style: none;
}
.first-footer ul li{
    display: inline-block;
    width: 188px;
    height: 195px;
}
.first-footer ul li img {
    margin: 41px auto auto 28px;
    display: block;
    padding: 0px 0 5px 0;
}

.first-footer ul li a {
    font-size: 15px;
    color: #808080;
    text-decoration: none;
    text-transform: uppercase;
    display: block;
}


.second-footer{
    height: 200px;

}
.second-footer1{
    height: 150px;
    width: 260px;
    float: left;
    margin-left: 125px;
    margin-top: 40px;
}
.second-footer2{
    float:right;
    height: 150px;
    width: 341px;
    margin-right: 100px;
    margin-top: 35px;
}
.third-footer{
    height: 50px;
    border-bottom: 1px;
    text-align: center;
}
.third-footer ul li{
    display: inline;
    margin: 0 10px;

}
.third-footer ul li a{
    font-size: 14px;
    text-decoration: none;
    text-transform: uppercase;
    color: #808080;
}
.fourth-footer{
    padding-top: 21px;
    padding-bottom: 140px;
    text-align: center;
    background: url("images/footercopback.png") center 4px no-repeat;

}
.fourth-footer ul{


}
.fourth-footer ul li{
    display: inline;
    font-size: 12px;
    margin-left: 10px;
    font-family: "Helvetica W02 Cn";

}
.fourth-footer ul li a {
    color: #999;
    text-decoration: none;
}
#popupWrapper{
    position: fixed;
    display: none;
    top: 0;
    width: 100%;
    height: 100%;
    bottom: 0;
    left: 0;
    background: rgba(51, 48, 8, 0.28);
    z-index: 999;
}
#popupWrapper .content{
    width: 250px;
    height: 250px;
    background: #ffffff;
    margin: 200px auto;
}
.account {
    width: 960px;
    height: 905px;
}

.my_account {
    float: left;
    background: none repeat scroll 0% 0% #F4F4F4;
    width: 861px;
    height: 358px;
    margin: 0px auto;
    padding: 50px;
}
.personal {
    background: #d5d5d5;
    width: 960px;
    height: 488px;
    float: left;
}
#email {

    width: 360px;


}
.input-box {
    height: 30px;
    margin-left: 100px;

}
#pass {
    width: 204px;
}
label {
    width: 172px;
    height: 21px;
    float: left;
}
.css-label {
    float: left;

    width: 70px;
}
.agnes-universe {
    margin-left: 100px;
    margin-bottom: 20px;
}
#woman #boy {
    float: left;
    margin-left: 20px;
}
.people .input-box {
    width: 100px;
    height: 30px;
    float: left;
}
.people {
    width: 500px;
    height: 70px;
    margin: 0 auto;
}
#newsletter {
    width: 294px;
}
.css-checkbox {
    float: left;
}
.agnes-universe li {
    float: left;
    margin-left: 3px;

    width: 591px;
}
.agnes-universe {
    width: 591px;
    height: 33px;
}
.art {
    width: 713px;
    height: 100px;
margin-left: 100px;

}
.art .input-box {
    width: 200px;
    height: 30px;
    float: left;

}
.art label {
    width: 170px;
    float: left;
}
.phone {


}